<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<%-body -%>

<script src="/libs/jquery/jquery.min.js"></script>
<script src="/scripts/common.min.js"></script>
</body>
</html>
