<%
  layout('./layouts/default');
%>

<div id="indexContainer">
  <aside id="indexAside" class="aside">
    <div class="asideWrap">
      <div id="articleList">
        <div id="list"></div>
        <button id="loadMore" type="button" data-page="1">load more</button>
      </div>
    </div>
  </aside>
  <span id="splitter" class="splitter"></span>
  <main id="indexMain" class="main">
    <div class="mainWrap"></div>
  </main>
</div>
